$primary-color:    rgb(7, 7, 209);
$secondary-color:  rgb(15, 0, 0);
$tertiary-color:   rgb(235, 245, 247);
$fourth-color:    rgb(241, 9, 9);
$quinary-color:   rgb(118, 247, 13);
$sextenary-color:  rgb(97, 89, 89);


$padding-base: 10px;
$padding-medium: 20px;
$padding-large: 30px;
$border-radius-base: 0.25rem;
$border-radius-large: 0.5rem;
