@use "../abstracts/variables";
@use "../abstracts/mixins";

.site-footer {
  background-color: variables.$sextenary-color; 

  &__copy {
    font-size: 0.9rem;
  }

  &__social a {
    font-size: 1.5rem;
    transition: color 0.3s;

    &:hover {
      color: lighten(variables.$tertiary-color, 20%);
    }
  }
}
.footer {  
   padding: 20px;
  color: variables.$tertiary-color;

  &__copy {
    font-size: 0.9rem;
    margin-right: 10px;
  }

  &__social {
    a {
      color: variables.$tertiary-color;
      margin: 0 10px;
      text-decoration: none;

      &:hover {
        color: lighten(variables.$primary-color, 20%);
      }
    }
  }
}